.C-apiimg{
    width: 15vw;
    height: auto;
}
.C-apifulldiv{
    display: flex;
    font-size:smaller;
    padding:0.5rem;
    font-weight: bolder;
    column-gap:6vw;
}
.C-apifulldiv > div{
    text-align: center;
    font-size:3.5vw;
}