#logtable {
    display: flex;
}

.delbtn {
    margin-top: auto;
    margin-bottom: auto;
}
.C-loginfo{
    margin-left: 3vw;
    margin-right: 3vw;
    border-radius: 5px;
    font-size: 4vw;
}
.C-logtable{
    border-bottom:3px solid black;
    flex-grow: 1;
}
.C-openclosebtn{
    display:flex;
    justify-content:space-between;
}