.menuimg {
    transition: all0.2s linear;
}

.menuimg:hover {
    transform: scale(1.4);
}

.C-navinfo{
    margin-left: 1rem;
    font-size:4vw;
    text-align: end;
}
.C-mainnav{
    position: sticky;
    top:0;
    background-color: white;
    z-index: 3;
}
header{
    display: flex;
    justify-content: space-between;
    
}