.signupdiv {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    row-gap: 7px;
    column-gap: 5px;
    width: 20rem;
    align-items: center;
    justify-items: start;
}

.adduser {
    text-align: center;
}

.confirmdiv{
    align-self: normal;
}

.confirm{
    position: absolute;
    font-size: 1vw;
}
