.signupdiv {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    row-gap: 7px;
    column-gap: 5px;
    width: 400px;
    align-items: center;
    justify-items: start;
}

.adduser {
    text-align: center;
}

.body {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 40px;
}
.confirmdiv{
    align-self: normal;
}

.confirm{
    position: absolute;
}