.body {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    padding-top: 6vh;
    padding-bottom: 6vh;
  }

.rootdiv{
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    padding: 3vh;
    padding-left: 7vw;
    padding-right: 7vw;
    border-radius: 1rem;
    animation: fadein 2s;
    font-size: 10vw;
}

p{
    margin-bottom:1rem;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.imgbackground{
    background-image: url('/public/rootback.jpg');
    background-size: cover;
    padding: 5vw;
    background-repeat: no-repeat;
}
.C-rootimg{
    width: 50vw;
}
.C-rootbtn{
    font-size: 5vw;
}