.body {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
  }

.rootdiv{
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    padding : 2rem;
    padding-left:5rem;
    padding-right: 5rem;
    border-radius: 5px;
    animation: fadein 2s;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.imgbackground{
    background-image: url('/public/rootback.jpg');
    background-size: cover;
    padding: 5rem;
    background-repeat: no-repeat;
}